<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
</head>
<body>
<div th:each="entry : ${postsMap}">
    <div th:text="'============= ' + ${entry.getKey()} + ' ============='"></div>
    <div th:each="post : ${entry.getValue()}">
        <h1 th:text="${post.getTitle()}"></h1>
        <div th:text="${post.getAuthor()} + '|' + ${post.getDate().toString().substring(0, 10)}"></div>
        <div th:text="${post.getContent()}"></div>
    </div>
    <div>======================================</div>
</div>
</body>
</html>
